h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.acc {
    padding: 0 20px;
    background: #cf1e35;
    color: white;
}

.areas-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 800px;
    margin: 0 auto 25px;
}

.summary-price {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
}

input[type=number] {
    font-size: 1rem;
    width: 50px;
    padding: 2px;
    position: relative;
    top: 2px;
    left: 2px;
    border: 1px solid #2c3b4c;
    padding-left: 4px;
}

.vertical {
    display: inline-flex;
    flex-direction: column;
}

.center {
    width: 42%;
    margin: 0 auto;
}

.image-booth {
    display: inline-flex;
    flex-direction: column;
}

.description-booth {
    display: inline-flex;
    flex-direction: column;
}

.mat-radio-button {
    padding: 15px 5px 15px 25px;
}

.mat-form-field {
    display: block;
}

.mat-list {
    padding-bottom: 15px;
}

.mat-list-item {
    height: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.mat-checkbox {
    margin-right: 15px;
}

.mat-raised-button {
    position: relative;
    float: right;
}

.stand {
    display: block;
}

.area {
    margin: 0 5px;
}

.disabled {
    color: gray;
}

.centertext {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.name {
    margin-bottom: 8px;
}

.info {
    margin: 0;
}

.hide-it {
    display: none;
}

.col-1 {
    width: 350px;
}

.inline {
    display: inline-block;
}

.colorselect {
    padding-left: 10px;
    margin-top: 19px;
}

.dropdown {
    padding-left: 10px;
    width: 90px;
}

.floor {
    position: relative;
    height: 20px;
    top: 4px;
    left: 16px;
}

.option1 {
    background: url("../../../assets/images/1.jpg") center / contain no-repeat;
    white-space: nowrap
}

.option2 {
    background: url("../../../assets/images/2.jpg") center / contain no-repeat;
    white-space: nowrap;
    display: inline
}

.option3 {
    background: url("../../../assets/images/3.jpg") center / contain no-repeat;
    white-space: nowrap;
    display: inline
}

.option4 {
    background: url("../../../assets/images/4.jpg") center / contain no-repeat;
    white-space: nowrap;
    display: inline
}

.option5 {
    background: url("../../../assets/images/5.jpg") center / contain no-repeat;
    white-space: nowrap;
    display: inline
}

.option6 {
    background: url("../../../assets/images/6.jpg") center / contain no-repeat;
    white-space: nowrap;
    display: inline
}

.margintop {
    margin-top: 19px;
}

.infobooths {
    margin: 0;
    display: flex;
    height: 280px;
}

.booth-img {
    width: 54%;
}