a {
    display: block;
}

h4 {
    margin-bottom: 5px;
}

.dashboard {
    font-size: 16px;
    margin-left: -17px;
}

.mat-button {
    text-align: left;
}

.fill-remaining-space {
    /* This fills the remaining space, by usign flexbox. 
       Every toolbar row uses a flexbox row layout. */
    margin: 0 auto;
    font-size: 1.4vmax;
    /* flex: 1 1 auto; */
}

.mat-sidenav-content {
    background-color: #e4e3e6;
}

.mat-sidenav {
    background-color: #2c3b4c;
    color: white;
    padding: 5px 15px 5px 25px;
}

.disabled {
    color: gray;
}

.mat-sidenav-container {
    height: 100%;
    min-height: 900px;
    background-color: #e4e3e6;
}

.logo {
    padding-left: 6px;
}