.details {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto 25px;
}

.btn {
    width: 100%
}

.mat-raised-button {
    position: relative;
    float: right;
}

.mat-divider {
    margin-top: 25px;
}

.mat-form-field {
    display: block;
}

.mat-card-content {
    padding: 0 7%;
}

.hintRedColor {
    color: red;
}