<div class="details">
    <mat-toolbar color="primary">
        <h2>User Details</h2>
    </mat-toolbar>
    <!-- <h4>{{user.email}}</h4> -->
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <input #fullname matInput placeholder="Full name" [value]="user.name">
            </mat-form-field>
            <mat-form-field>
                <input #phone matInput placeholder="Phone" [value]="user.phone">
            </mat-form-field>
            <mat-form-field>
                <input #position matInput placeholder="Position" [value]="user.position">
            </mat-form-field>
            <span>Type: {{currentRole}}</span>
            <div class="btn">
                <button mat-raised-button color="primary" (click)="save(fullname.value, phone.value, position.value)">Save</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<div class="details">
    <mat-toolbar color="primary">
        <h2>Change Password</h2>
    </mat-toolbar>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <input #password matInput placeholder="Password" type="password" required (keyup)="getPassword(password.value)">
            </mat-form-field>
            <mat-form-field>
                <input #confirmPassword matInput placeholder="Confirm Password" type="password" required (keyup)="getConfirmPassword(confirmPassword.value)">
                <mat-hint class="hintRedColor" *ngIf="isNotMatch">The passwords do not match!</mat-hint>
            </mat-form-field>
            <div class="btn">
                <!-- (click)="change(password.value, cpassword.value)" -->
                <button mat-raised-button color="primary" (click)="openDialog(password.value, confirmPassword.value)">Change</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>