.login-card {
    max-width: 600px;
    width: 50%;
    margin: 0 auto;
}

.login-content {
    width: 70%;
    margin: 0 auto;
}

.login .mat-toolbar {
    margin-bottom: 30px;
}

.center {
    width: 75%;
    margin: 0 auto;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.mat-raised-button {
    position: relative;
    float: right;
}

.forgotpassword {
    margin-top: 25px;
}