<!-- Company Details -->
<div class="details">
  <mat-toolbar color="primary">
    <h1>Welcome</h1>

  </mat-toolbar>
  <mat-card>
    <br>
    <!-- <h4><i>Plan of Expo with location of the booth and confirmation of booth size will be available after 01.06.2018.</i></h4> -->
    <p>
      <b>Dear Exhibitor,</b>
    </p>

    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We wish you a pleasant time preparing for our big day. Below you can
      find short information regarding the platform and the event.</span>
    <br>
    <br>
    <br>
  </mat-card>
  <mat-toolbar color="primary">
    <h1>REGISTRATION PLATFORM GUIDE</h1>

  </mat-toolbar>
  <mat-card>
    <div class="whi">
      <br>
      <br>
      <span>Getting started is simple. Recommended browser: Google Chrome</span>
      <div class="leftmargin">


        <p>
          <button mat-button>STEP 1:</button>
          <i> Follow the
            <a href="https://register.expo-icbg.com/#/signup">link</a> to confirm your registration. You will be asked to fill in the company details form. Once the company
            profile is created, you could add other colleagues from your company to join and to have access to all important
            information concerning your participation (Profile -> User management -> Plus Button to add a colleague).
          </i>
        </p>

        <p>
          <button mat-button>STEP 2:</button>
          <i> Choose your preferred way of presenting Your company at the expo, e.g. booking an area for your own fair booth
            (Orders -> Exhibition area). Only 1 person from your company the so called “Authorized Exhibitor” could confirm
            the booth and/or the area and could order it. You can transfer the “authorization right” to any additionally
            registered colleague from your company at Profile -> User Management -> Edit -> Role -> choose Exhibitor or Authorized
            Exhibitor.
          </i>
        </p>

        <p>
          <button mat-button>STEP 3:</button>
          <i>Additional Fair Services and Advertising Services could be ordered from the menus under Orders.</i>
        </p>
      </div>
      <h4 class="note">Please send your booth/area orders by the 1st of May 2018 at the latest.</h4>
      <h4 class="rednote">Plan of the Expo with location of the booth and confirmation of the booth size will be delivered after 01.06.2018.</h4>
      <h4 class="note">Places will be distributed in the same order as applications reach Inter Cars.</h4>
      <span>There is a 30% discount of all prices included and is valid up to 01.05.2018. If you have additional question our expo
        team is available at your services at
        <a href="mailto:bg-expo@intercars.eu">bg-expo@intercars.eu</a>.
      </span>
    </div>
    <br>
    <br>
    <br>
  </mat-card>
  <mat-toolbar color="primary">
    <h1>EVENT GUIDE</h1>

  </mat-toolbar>
  <mat-card>
    <div class="whi">
      <br>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The location of the fair is the international exhibition center in
        the beautiful city of Plovdiv, 130 km away from the capital Sofia. You could find more information regarding the
        accommodation under Orders ->
        <a href="/#/users/others">Other Services</a>. We have prepared a storage place for your marketing materials and you can send them to Plovdiv
        as soon as you like, more information under Orders ->
        <a href="/#/users/others">Other Services</a>.</p>

      <p>
        <b>Here is why the expo day 30.06.2018 is a very special and important day for us:</b>
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- It will be the first entirely B2B expo in Bulgaria and we are excited
        to welcome 5000 visitors, all of them coming from workshops and spare parts shops at a lifetime experience with an
        extraordinary Motor Show and a big concert in the evening.</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- As a market leader we will try to provide the biggest ever parts
        exhibition in Bulgaria, it will be the only one for 2018 and probably for the next few years in terms of number of
        exhibitors, number of professional customers, number of professional business entities and area.</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- The expo will be our introduction, leading towards our next big step
        – the start of the central warehouse of Inter Cars for Bulgaria and Greece in the autumn.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are welcome to use the opportunity to present your brand/s on a
        national level in front of the professional aftermarket in Bulgaria. The exhibition is dedicated also to the big
        workshops and shops, that still do not use the services of Inter Cars.</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for your support! Looking forward to seeing You in Plovdiv
        in June!</p>
      <p>Kind regards</p>
      <p>
        <b>Your Expo BG Team</b>
      </p>
      <p>For further questions and assistance we encourage you to send your inquiries to
        <a href="mailto:bg-expo@intercars.eu">bg-expo@intercars.eu</a>
      </p>
    </div>
    <br>
    <br>
  </mat-card>
</div>
