.details {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1000px;
    margin: 0 auto 25px;
    background: white;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.header {
    min-height: 64px;
    padding: 8px 24px 0;
    background-color: #e4e3e6;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    display: block;
}

.mat-column-id {
    max-width: 8%;
}

.mat-column-name {
    max-width: 46%;
}

.mat-column-pc {
    max-width: 12%;
}

.mat-column-price {
    max-width: 12%;
}

img {
    position: relative;
    top: 4px;
    left: 30px;
    height: 20px;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}