.details {
    display: flex;
    width: 95%;
    flex-direction: column;
    margin: 0 auto;
}

.mat-form-field {
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}


/* "id", "name", "email", "position", "role", "edit", 'block', 'is_block' */

.mat-column-id {
    max-width: 5%;
}

.mat-column-name {
    max-width: 22%;
}

.mat-column-email {
    max-width: 22%;
}

.mat-column-position {
    max-width: 16%;
}

.mat-column-role {
    max-width: 15%;
}

.mat-column-edit {
    text-align: center;
    max-width: 9%;
}

.mat-column-block {
    text-align: center;
    max-width: 9%;
}

.fab {
    padding: 15px 15px 15px 0;
}

.mat-fab {
    position: relative;
    float: right;
}

.edit {
    color: #2c3b4c;
}