<mat-toolbar color="accent" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <img src="../../assets/images/logo_2018.jpg" alt="logo" />
    <span class="fill-remaining-space"></span>
    <div *ngIf="isLogged">
        <a mat-button [routerLink]="['/login']">Logout</a>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened>
        <mat-nav-list>
            <h4>User Management</h4>
            <a mat-button routerLink="/admins/exhibitors">Exhibitors</a><span flex></span>
            <div *ngIf="isMasterAdmin">
                <a mat-button routerLink="/admins/administrators">Administrators</a>
            </div>
            <a mat-button routerLink="/admins/companies">Companies</a>
            <div *ngIf="isMasterAdmin">
                <a mat-button routerLink="/admins/sessions">User sessions</a>
            </div>
            <h4>Reports</h4>
            <a mat-button routerLink="/admins/companiesreport">Report Companies</a>
            <a mat-button routerLink="/admins/orders">Confirmed &amp; pending orders </a>
            <h4>Total orders</h4>
            <a mat-button routerLink="/admins/totalareas">Exhibition Area Report</a>
            <a mat-button routerLink="/admins/totalservices">Additional Services Report </a>
            <a mat-button routerLink="/admins/totaladvertising">Advertising Services Report</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>